<module>
	<rawname>missedcallnotify</rawname>
	<type>setup</type>
	<name>Missed Call Notifications Telegram</name>
	<version>0.1.1</version>
	<publisher>Madji</publisher>
	<license>GPLv3+</license>
	<category>Applications</category>
	<changelog>
		0.1.1 FIX sip iax2 extensions
		*0.1* Initial
	</changelog>
	<description>This will allow notifications to be sent to users if they have missed a call to mesenger Telegram
	</description>
	<depends>
		<engine>asterisk 1.8</engine>
		<version>0.1.1</version>
		<module>core</module>
	</depends>
	<location>https://tex-host.ru/freepbx/modules/missedcallnotify-0.1.tgz</location>



</module>
